In [1]:
import pandas as pd

DataFrame

A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No' : [79,12]})

   Yes  No
0   50  79
1   21  12

In [4]:
pd.DataFrame({'Alessandro' : ["I like it","I don't like it"],'Selena' : ["J'aime bien","Je n'aime pas ça"]})

        Alessandro            Selena
0        I like it       J'aime bien
1  I don't like it  Je n'aime pas ça

In [7]:
pd.DataFrame(
    {
        'English' : ["I like it","I don't like it"],
        'French' : ["J'aime bien","Je n'aime pas ça"]
        },
        index= ["Beğenme", "Beğenmeme"])

                   English            French
Beğenme          I like it       J'aime bien
Beğenmeme  I don't like it  Je n'aime pas ça

In [10]:
songs= pd.read_csv(r"C:\Users\musta\OneDrive\Belgeler\Deneme\spotify_tracks.csv", index_col=0)

In [11]:
songs.shape

(6300, 7)

In [12]:
songs.head()

,name,genre,artists,album,popularity,duration_ms,explicit
id,,,,,,,
7kr3xZk4yb3YSZ4VFtg2Qt,Acoustic,acoustic,Billy Raffoul,1975,58,172199,False
1kJygfS4eoVziBBI93MSYp,Acoustic,acoustic,Billy Raffoul,A Few More Hours at YYZ,57,172202,False
6lynns69p4zTCRxmmiSY1x,Here Comes the Sun - Acoustic,acoustic,"Molly Hocking, Bailey Rushlow",Here Comes the Sun (Acoustic),42,144786,False
1RC9slv335IfLce5vt9KTW,Acoustic #3,acoustic,The Goo Goo Dolls,Dizzy up the Girl,46,116573,False
5o9L8xBuILoVjLECSBi7Vo,My Love Mine All Mine - Acoustic Instrumental,acoustic,"Guus Dielissen, Casper Esmann",My Love Mine All Mine (Acoustic Instrumental),33,133922,False